
<button class="back btn btn-outline-info" (click)="redirectBack()">Back</button>
<h4>User Answer Detail for Quiz</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Answer ID</th>
            <th class="text-center">Question ID</th>
            <th class="text-center">Quiz ID</th>
            <th class="text-center">User ID</th>
            <th class="text-center">User Ans</th>
            <th class="text-center">Correct Ans</th>
            <th class="text-center">Mark Gain</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of answers">
            <td>{{ n.user_id }}</td>
            <td>{{ n.question_id }}</td>
            <td>{{ n.quiz_id }}</td>
            <td>{{ n.user_id }}</td>
            <td>{{ n.user_ans }}</td>
            <td>{{ n.correct }}</td>
            <td>{{ n.mark_gain }}</td>
        </tr>
    </tbody>
</table>



