
<button class="back btn btn-outline-info" (click)="redirectBack()">Back</button>
<button class=" add btn btn-outline-success" (click)="showAddForm()"><i class="fa fa-plus"></i></button>
<h4>Quiz Data</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Topic ID</th>
            <th class="text-center">Quiz ID</th>
            <th class="text-center">Quiz Total Marks</th>
            <th class="text-center">Total Marks</th>
            <th class="text-center">Quiz name</th>
            <th class="text-center">Quiz Description</th>
            <th class="text-center">Priority</th>
            
            <th class="text-center">Hide</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of quiz">
            <td>{{ n.topic_id }}</td>
            <td>{{ n.quiz_id }}</td>
            <td>{{ n.quiz_total_question }}</td>
            <td>{{ n.total_marks }}</td>
            <td>{{ n.quiz_name }}</td>
            <td>{{ n.quiz_description }}</td>
            
            <td>{{ n.priority }}</td>
            <td>{{ n.hide }}</td>

            <td>
                <button class="btn btn-outline-info mr-2" (click)="showEditForm(n)">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="removeData(n)">
                    <i class="fa fa-minus"></i>
                </button>
                <br>
                <a class="btn btn-outline-dark lecture_btn" [routerLink] = "['/course', course_id, 'subject', subject_id, 'topic', n.topic_id, 'quiz', n.quiz_id, 'questions']">View Questions</a>
                <a class="btn btn-outline-dark lecture_btn" [routerLink] = "['/course', course_id, 'subject', subject_id, 'topic', n.topic_id, 'quiz', n.quiz_id, 'userquiz']">View User's Answers</a>

            </td>
        </tr>
    </tbody>
</table>

<br />

<form *ngIf="editForm"  #myform2 = "ngForm" (ngSubmit) = "updateNotes(myform2)">
    <h2>Edit Notes Details</h2>
    <p>Topic ID <input type="text" name="topic_id" ngModel="{{editQuiz.topic_id}}" readonly/></p>
    <p>Quiz ID <input type="text" name="quiz_id" ngModel="{{editQuiz.quiz_id}}" readonly/></p>
    <p>Quiz Total Question <input type="text" name="quiz_total_question" ngModel="{{editQuiz.quiz_total_question}}" /></p>
    <p>Total Marks <input type="text" name="total_marks" ngModel="{{editQuiz.total_marks}}" /></p>
    <p>Quiz Name<input type="text" name="quiz_name" ngModel="{{editQuiz.quiz_name}}" /></p>
    <p>Quiz Description <input type="text" name="quiz_description" ngModel="{{editQuiz.quiz_description}}" /></p>
    
    <p>Priority <input type="text" name="priority" ngModel="{{editQuiz.priority}}" /></p>
    <p>Hide <input type="text" name="hide" ngModel="{{editQuiz.hide}}" /></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelEdits()">Cancel</button>
    </p>
</form>

<form *ngIf="newForm" #myform = "ngForm" (ngSubmit) = "saveNotes(myform)">
    <h2>Add New Course</h2>
    <p>Topic ID <input type="text" name="topic_id" ngModel="{{topic_id}}"  readonly/></p>
    <p>Quiz Name <input type="text" name="quiz_name" ngModel required/></p>
    <p>Quiz Description<input type="text" name="quiz_description" ngModel/></p>
    <p>Total Marks <input type="text" name="total_marks" ngModel/></p>
    <p>Quiz Total Marks<input type="text" name="quiz_total_question" ngModel/></p>
    
    <p>Priority <input type="text" name="priority" ngModel/></p>
    <p>Hide <input type="text" name="hide" ngModel/></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelNewData()">Cancel</button>
    </p>
</form>

