
<button class="back btn btn-outline-info" (click)="redirectBack()">Back</button>
<button class=" add btn btn-outline-success" (click)="showAddForm()"><i class="fa fa-plus"></i></button>

<h4>Topic Data</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Subject ID</th>
            <th class="text-center">Topic ID</th>
            <th class="text-center">Topic Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Subscription</th>
            <th class="text-center">Priority</th>
            <th class="text-center">Hide</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of topic">
            <td>{{ l.subject_id }}</td>
            <td>{{ l.topic_id }}</td>
            <td>{{ l.topic_name }}</td>
            <td>{{ l.description }}</td>
            <td>{{ l.subscription }}</td>
            <td>{{ l.priority }}</td>
            <td>{{ l.hide }}</td>

            <td>
                <button class="btn btn-outline-info mr-2" (click)="showEditForm(l)">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="removeData(l)">
                    <i class="fa fa-minus"></i>
                </button>
                <br>
                <a class="btn btn-outline-dark lecture_btn" [routerLink] = "['/course', course_id, 'subject', subject_id, 'topic', l.topic_id, 'notes']">View Notes</a>
                <a class="btn btn-outline-dark lecture_btn" [routerLink] = "['/course', course_id, 'subject', subject_id, 'topic', l.topic_id, 'lecture']">View Lecture</a>
                <a class="btn btn-outline-dark lecture_btn" [routerLink] = "['/course', course_id, 'subject', subject_id, 'topic', l.topic_id, 'quiz']">View quiz</a>
                
            </td>
        </tr>
    </tbody>
</table>


<br />

<form *ngIf="editForm"  #myform2 = "ngForm" (ngSubmit) = "updateData(myform2)">
    <h2>Edit Topic Details</h2>
    <p>Subject ID <input type="text" name="subject_id" ngModel="{{editData.subject_id}}"  readonly/></p>
    <p>Topic ID <input type="text" name="topic_id" ngModel="{{editData.topic_id}}" readonly/></p>
    <p>Topic Name <input type="text" name="topic_name" ngModel="{{editData.topic_name}}" /></p>
    <p>Description <input type="text" name="description" ngModel="{{editData.description}}" /></p>
    <p>Subscription <input type="text" name="subscription" ngModel="{{editData.subscription}}" /></p>
    <p>Priority <input type="text" name="priority" ngModel="{{editData.priority}}" /></p>
    <p>Hide <input type="text" name="hide" ngModel="{{editData.hide}}" /></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelEdits()">Cancel</button>
    </p>
</form>

<form *ngIf="newForm" #myform = "ngForm" (ngSubmit) = "saveData(myform)">
    <h2>Add New Course</h2>
    <p>Subject ID <input type="text" name="subject_id" ngModel="{{subject_id}}"  readonly/></p>
    <p>Topic Name <input type="text" name="topic_name" ngModel required/></p>
    <p>Description <input type="text" name="description" ngModel/></p>
    <p>Subscription<input type="text" name="subscription" ngModel/></p>
    <p>Priority <input type="text" name="priority" ngModel/></p>
    <p>Hide <input type="text" name="hide" ngModel/></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelNewData()">Cancel</button>
    </p>
</form>

