<button class="add btn btn-outline-success" (click)="showAddCourseForm()"><i class="fa fa-plus"></i></button>
<h4>Course Data</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Course ID</th>
            <th class="text-center">Course Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Priority</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of course">
            <td>{{ c.course_id }}</td>
            <td>{{ c.course_name }}</td>
            <td>{{ c.description }}</td>
            <td>{{ c.priority }}</td>

            <td>
                <button class="btn btn-outline-info mr-2" (click)="showEditCourseForm(c)">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="removeCourse(c)">
                    <i class="fa fa-minus"></i>
                </button>
                <br>
                <a class="btn btn-outline-dark subject_btn"  [routerLink] = "['/course', c.course_id, 'subject']">View Subjects</a>
            </td>
        </tr>
    </tbody>
</table>


<br />

<form *ngIf="editCourse"   #myform2 = "ngForm" (ngSubmit) = "updateCourse(myform2)">
    <h2>Edit Course Details</h2>
    <p>Course ID <input type="text" name="course_id" ngModel="{{editCourse.course_id}}" readonly/></p>
    <p>Course Name <input type="text" name="course_name" ngModel="{{editCourse.course_name}}" required/></p>
    <p>Description <input type="text" name="description" ngModel="{{editCourse.description}}" /></p>
    <p>Priority <input type="text" name="priority" ngModel="{{editCourse.priority}}" /></p>
    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelEdits()">Cancel</button>
    </p>
</form>

<form *ngIf="newCourseForm"  #myform = "ngForm" (ngSubmit) = "saveCourse(myform)">
    <h2>Add New Course</h2>
    <p>Course Name <input type="text" name="course_name"  required ngModel/></p>
    <p>Description <input type="text" name="description" ngModel /></p>
    <p>Priority <input type="text" name="priority" ngModel /></p>
    
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelNewCourse()">Cancel</button>
    
</form>

