<h2>Verification Process</h2>
<br/>

<div >

    <h3>Order ID</h3>

    <h3 >{{ id }}</h3>
    <li>
    <h4>Address Verification</h4>
    <button class="btn btn-sm btn-outline-info" (click)="AVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="AnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
    </li>
<li>    <h4>Prescription Verification</h4>

    <button *ngIf="verify1" class="btn btn-sm btn-outline-info" (click)="PVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="PnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
  </li>
<li>
    <h4>Bill Complete</h4>

    <button *ngIf="verify2" class="btn btn-sm btn-outline-info" (click)="BVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="BnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Order Confirmed</h4>

    <button *ngIf="verify3" class="btn btn-sm btn-outline-info" (click)="OVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="OnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Dispatched</h4>

    <button *ngIf="verify4" class="btn btn-sm btn-outline-info" (click)="DVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="DnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Shipped</h4>

    <button *ngIf="verify5" class="btn btn-sm btn-outline-info" (click)="SVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="SnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Delivered</h4>

    <button *ngIf="verify6" class="btn btn-sm btn-outline-info" (click)="DeVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="DenotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Completed</h4>

    <button *ngIf="verify7" class="btn btn-sm btn-outline-info" (click)="CVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="CnotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>
<li>
    <h4>Cancel Order</h4>

    <button *ngIf="verify8" class="btn btn-sm btn-outline-info" (click)="CaVerified(directOrder,id)" style="margin:10px;">Verified</button>
    <button class="btn btn-sm btn-outline-info" (click)="CanotVerified(directOrder,id)" style="margin:10px;">Not Verified</button>
</li>

</div>
