
<button class=" add btn btn-outline-success" (click)="showAddForm()"><i class="fa fa-plus"></i></button>

<h4>Single Choice Question Data</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Question ID</th>
            <th class="text-center">Question Subject ID</th>
            <th class="text-center">Question Type</th>
            <th class="text-center">Question Image URL</th>
            <th class="text-center">Options</th>
            <th class="text-center">Correct Answer</th>
            <th class="text-center">Total Marks</th>
            <th class="text-center">Negative Mark</th>
            <th class="text-center">Partial Marks</th>
            <th class="text-center">Question Description</th>
            <th class="text-center">Solution Img URL</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of data">
            <td>{{ l.question_id }}</td>
            <td>{{ l.question_subject_id }}</td>
            <td>{{ l.question_type }}</td>
            <td>{{ l.question_image_url }}</td>
            <td>{{ l.options }}</td>
            <td>{{ l.correct_answer }}</td>
            <td>{{ l.total_marks }}</td>
            <td>{{ l.negative_mark }}</td>
            <td>{{ l.partial_mark }}</td>
            <td>{{ l.question_description }}</td>
            <td>{{ l.solution_image_url }}</td>

            <td>
                <button class="btn btn-outline-info mr-2" (click)="showEditForm(l)">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="removeRecord(l)">
                    <i class="fa fa-minus"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<br />

<form *ngIf="editForm"  #myform2 = "ngForm" (ngSubmit) = "updateRecord(myform2)">
    <h2>Edit Single Choice Question</h2>
    <p>Question ID<input type="text" name="question_id" ngModel="{{editData.question_id}}"  readonly/></p>
    <p>Question Subject ID<input type="text" name="question_subject_id" ngModel="{{editData.question_subject_id}}"  readonly/></p>
    <p>Question Type<input type="text" name="question_type" ngModel="{{editData.question_type}}" readonly/></p>
    <p>Question Image URL<input type="text" name="question_image_url" ngModel="{{editData.question_image_url}}" /></p>
    <p>Options <input type="text" name="options" ngModel="{{editData.options}}" /></p>
    <p>Correct Answer <input type="text" name="correct_answer" ngModel="{{editData.correct_answer}}" /></p>
    <p>Total Marks <input type="text" name="total_marks" ngModel="{{editData.total_marks}}" /></p>
    <p>Negative Marks <input type="text" name="total_marks" ngModel="{{editData.negative_mark}}" /></p>
    <p>Partial Marks <input type="text" name="total_marks" ngModel="{{editData.partial_mark}}" /></p>
    <p>Question Description <input type="text" name="question_description" ngModel="{{editData.question_description}}" /></p>
    <p>Solution Img URL <input type="text" name="solution_image_url" ngModel="{{editData.solution_image_url}}" /></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelEdits()">Cancel</button>
    </p>
</form>

<form *ngIf="newForm" #myform = "ngForm" (ngSubmit) = "newRecord(myform)">
    <h2>Add New Single Choice Question</h2>
    <p>Question Subject ID<input type="text" name="question_subject_id" ngModel /></p>
    <p>Question Type<input type="text" name="question_type" ngModel /></p>
    <p>Question Image URL<input type="text" name="question_image_url" ngModel /></p>
    <p>Options <input type="text" name="options" ngModel /></p>
    <p>Correct Answer <input type="text" name="correct_answer" ngModel /></p>
    <p>Total Marks <input type="text" name="total_marks" ngModel /></p>
    <p>Negative Marks <input type="text" name="total_marks" ngModel /></p>
    <p>Partial Marks <input type="text" name="total_marks" ngModel /></p>
    <p>Question Description <input type="text" name="question_description" ngModel /></p>
    <p>Solution Img URL <input type="text" name="solution_image_url" ngModel /></p>

    <p>
        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelNew()">Cancel</button>
    </p>
</form>

